<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>实现简单Vue</title>
</head>
<body>
  <!-- 目标实现这个功能 -->
  <div id="app">
    <h1>差值表达式</h1>
    <h3>{{ msg }}</h3>
    <h3>总数{{ count }}</h3>
    <h1>v-text</h1>
    <div class="abc"><div v-text="msg"></div></div>
    <h1>v-model</h1>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">

    <div v-html="html"></div>
    <div v-on:click="clickhaundler">
      我是按钮
      <div v-on:click.stop="stopcl">阻止冒泡</div>
    </div>
    

  </div>
  <!-- <script src="./vue.min.js"></script> -->
  <script src="./js/Dep.js"></script>
  <script src="./js/Watcher.js"></script>
  <script src="./js/Compiler.js"></script>
  <script src="./js/observer.js"></script>
  <script src="./js/minvue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        msg: 'Hello Vue',
        count: 100,
        person: { name: 'zs' },
        html: '<h2>我是标签</h2>'
      },
      methods:{
        clickhaundler(){
          console.log('我被点击了')
        },
        stopcl() {
          console.log('我是阻止冒泡')
        }
      }
    })
    // vm.msg = {test:"lisi"}
    // setTimeout(() => {
    //   console.log(vm.msg = "abcde")
    // }, 2000)
    

  </script>
</body>
</html>